<!DOCTYPE html>
<html>
<head>
    <title>All Tracks - Track-Track</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <link href="/stylesheets/all.css" rel="stylesheet">
  </head>
<body>
    <h1>All Tracks</h1>
    <div class="button-container">
        <div class="left-buttons">
            <a href="/" class="btn btn-light">
                <i class="bi bi-house-door-fill"></i> Back to Home
            </a>
            <% if (locals.user) { %>
            <a href="/add/addTrack" class="btn btn-primary"><strong>+ Add New Track</strong></a>
            <% } else { %>
            <div class="guestmessage">
            <section id="messagepad">Sign in to add a track!</section>
            </div>
            <a href="/auth/google">
                <button class="gsi-material-button" id="google-sign-in-button">
                  <div class="gsi-material-button-state"></div>
                  <div class="gsi-material-button-content-wrapper">
                    <div class="gsi-material-button-icon">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                      </svg>
                    </div>
                    <span class="gsi-material-button-contents">Sign in</span>
                    <span style="display: none;">Sign in with Google</span>
                  </div>
                </button>
              </a>
            <% } %>
        </div>
        <div class="loggeduser">
            <% if (locals.user) { %>Signed in as <%= locals.user.username %><a href="/auth/logout" class="btn btn-outline-secondary" id="logout">Sign Out</a><% } %>
        </div>
    </div>      
    <table class="table table-striped table-hover">
        <thead>
            <tr id="table-top">
                <th class="fav-width">
                    <img src="/images/icons/favheading.png" alt="Favorite Heading Icon" width="24" height="24">
                </th>
                <th class="songstyle">
                    <img id="imagepad" src="/images/icons/track.jpg" alt="Track Icon" width="20" height="20">
                    Track
                </th>
                <th class="songstyle">
                    <img id="imagepad" src="/images/icons/artist.png" alt="Artist Icon" width="20" height="20">
                    Artist
                </th>
                <th class="songstyle">
                    <img id="imagepad" src="/images/icons/album.png" alt="Album Icon" width="20" height="20">
                    Album
                </th>
                <th class="heading-align">
                    <img id="imagepad" src="/images/icons/cal.png" alt="Calendar Icon" width="20" height="20">
                    Date Added
                </th>
                <th>
                    <img id="imagepad" src="/images/icons/source.png" alt="Source Icon" width="20" height="20">
                    Source
                </th>
                <th class="heading-align">
                    <img id="imagepad" src="/images/icons/disco.png" alt="Discovery Icon" width="17" height="17">
                    Disc.
                </th>
                <th class="heading-align">
                    <img id="imagepad" src="/images/icons/addedby.png" alt="Added By Icon" width="20" height="20">
                    Added By
                </th>
                <th class="listen-column">
                    <img src="/images/icons/headphones.png" alt="Headphones Icon" width="22" height="22">
                </th>
                <th><img src="/images/icons/edithead.png" alt="Edit Heading Icon" width="24" height="24"></th>
            </tr>
        </thead>
        <tbody>
            <% tracks.forEach(track => { %>
                <tr>
                    <td class="fav-width">
                        <% if (track.favorite) { %>
                            <img src="/images/icons/fav.png" alt="Favorite Icon" width="24" height="24">
                        <% } else { %>
                            &nbsp;
                        <% } %>
                    </td>
                    <td class="songstyle"><a href="/trackView/track/<%= track._id %>"><strong><%= track.song %></strong></a></td>
                    <td class="songstyle"><strong><%= track.artist %></td></strong>
                    <td class="songstyle"><strong><%= track.album %></td></strong>
                    <td class="date-width"><%= track.dateAdded.toDateString() %></td>
                    <td class="heading-align"><%= track.source.join(', ') %></td>
                    <td class="wrap-text"><%= track.discovery.join(', ') %></td>
                    <td class="listen-column"><i><%= track.user.username %></i></td>
                    <td class="listen-column">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" onclick="window.open('<%= track.link %>', '_blank')"><%= track.source %></button>
                        </div>
                    </td>
                    <td>
                        <div class=>
                            <% if (locals.user && track.user._id.toString() === locals.user._id.toString()) { %>
                                <a href="/add/editTrack/<%= track._id %>">
                                    <img src="/images/icons/edit.png" alt="Edit Icon" width="24" height="24">
                                </a>
                            <% } else { %>
                            <% } %>
                        </div>
                    </td>                                                     
                </tr>                
            <% }); %>
        </tbody>
    </table>
</body>
</html>
