<!DOCTYPE html>
<html>
  <head>
    <title>All Tracks - Track-Track</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Tracks</h1>
    <table>
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Date Added</th>
          <th>Favorite</th>
          <th>Source</th>
          <th>Discovery</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <% tracks.forEach(track => { %>
          <tr>
            <td><%= track.song %></td>
            <td><%= track.artist %></td>
            <td><%= track.album %></td>
            <td><%= track.dateAdded.toDateString() %></td>
            <td><%= track.favorite ? 'Yes' : 'No' %></td>
            <td><%= track.source.join(', ') %></td>
            <td><%= track.discovery.join(', ') %></td>
            <td><a href="<%= track.link %>"><%= track.link %></a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>