<!DOCTYPE html>
<html>
<head>
  <title>Track Detail - <%= track.song %> by <%= track.artist %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
  <link href="/stylesheets/trackDetail.css" rel="stylesheet">
</head>
<body>
  <h1>Track Detail - <%= track.song %> by <%= track.artist %></h1>
  <ul class="list-unstyled">
    <li><img id="imagepad" src="/images/icons/track.jpg" alt="Track Icon" width="20" height="20"><strong>Track:</strong> <%= track.song %></li>
    <li><img id="imagepad" src="/images/icons/artist.png" alt="Artist Icon" width="20" height="20"><strong>Artist:</strong> <%= track.artist %></li>
    <li><img id="imagepad" src="/images/icons/album.png" alt="Album Icon" width="20" height="20"><strong>Album:</strong> <%= track.album %></li>
    <li><img id="imagepad" src="/images/icons/cal.png" alt="Calendar Icon" width="20" height="20"><strong>Date Added:</strong> <%= track.dateAdded.toDateString() %></li>
    <li><img id="imagepad" src="/images/icons/favheading.png" alt="Favorite Heading Icon" width="24" height="24"><strong>Favorite:</strong> <%= track.favorite ? 'Yes' : 'No' %></li>
    <li><img id="imagepad" src="/images/icons/source.png" alt="Source Icon" width="20" height="20"><strong>Streaming Source:</strong> <%= track.source.join(', ') %></li>
    <li><img id="imagepad" src="/images/icons/disco.png" alt="Source Icon" width="17" height="17"><strong>Discovery Source:</strong> <%= track.discovery.join(', ') %></li>
    <li><img img id="imagepad" src="/images/icons/headphones.png" alt="Headphones Icon" width="18" height="18"><strong>Link:</strong> <a href="<%= track.link %>"><%= track.link %></a></li>
    <li><img id="imagepad" src="/images/icons/addedby.png" alt="Added By Icon" width="20" height="20"><strong>Added By:</strong> <%= track.user ? track.user.username : 'Guest User' %></li>
  </ul>
  <% if (user && (user.username === track.user.username || user.isAdmin)) { %>
    <a href="/add/editTrack/<%= track._id %>" class="btn btn-light">
        <i class="bi bi-house-door-fill"></i> Edit Track
    </a>
  <% } %>
  <% if (youtubeVideoId) { %>
    <h3 class="youtube-video"><strong>YouTube Video:</strong></h3>
    <div class="youtube-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= youtubeVideoId %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% } %>
  
  <div id="commentsSec">
  <% if (track.comments && track.comments.length > 0) { %>
    <h3 id="commenth3"><strong>Comments:</strong></h3>
    <ul class="comments-list">
      <% track.comments.forEach(comment => { %>
        <li>
          <p><strong><%= comment.user ? comment.user : 'Guest User' %></strong> - Rating: <%= comment.rating %> - <%= comment.text %></p>
          <% if (user && (comment.user === user.username || user.isAdmin)) { %>
            <a href="/trackView/track/<%= track._id %>/comment/<%= comment._id %>/edit" class="btn btn-light">Edit</a>
          <a href="/trackView/track/<%= track._id %>/comment/<%= comment._id %>/delete" class="btn btn-secondary">Delete</a>
          <% } %>
        </li>
      <% }); %>
    </ul>
  <% } %>

<% if (user) { %>
    <h3 id="commenth3"><strong>Add a Comment:</strong></h3>
    <form action="/trackView/track/<%= track._id %>/comment/add" method="POST" class="comments-list">
      <label for="rating" class="comments-list"><strong>Rating:</strong></label>
      <select name="rating" required class="comments-list">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select><br>
      <label for="text" class="comments-list"><strong>Comment:</strong></label>
      <textarea name="text" required class="comments-list"></textarea><br>
      <input type="submit"class="btn btn-secondary" value="Add Comment">
    </form>
  <% } %>
</div>

  <a href="/trackView/all" class="btn btn-light" id="bottombuttons">Back to All Tracks</a>
  <a href="/" class="btn btn-primary" id="bottombuttons">Back to Home</a>
</body>
</html>