<!DOCTYPE html>
<html>
<head>
  <title>Edit Track</title>
  <link href="/stylesheets/addTrack.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script>
    function confirmDelete() {
      return confirm('Are you sure you want to delete this track?');
    }
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3 bg-white p-5 rounded shadow">
  <h1 class="mb-4 text-center">Edit Track</h1>
  <form action="/add/editTrack/<%= track._id %>" method="POST">
    <label for="song">Song:</label>
    <input type="text" name="song" class="form-control" value="<%= track.song %>" required><br>
    <label for="artist">Artist:</label>
    <input type="text" name="artist" class="form-control" value="<%= track.artist %>" required><br>
    <label for="album">Album:</label>
    <input type="text" name="album" class="form-control" value="<%= track.album %>"><br>
    <label for="dateAdded">Date Added:</label>
    <input type="date" name="dateAdded" class="form-control" value="<%= track.dateAdded.toISOString().split('T')[0] %>" required><br>
    <div class="row mb-3">
      <div class="col">
        <label for="favorite" class="form-label">Favorite:</label>
      </div>
      <div class="col-auto">
        <div class="form-check form-switch">
          <input type="checkbox" name="favorite" class="form-check-input" id="favorite" value="true">
          <label class="form-check-label" for="favorite"></label>
        </div>
      </div>
    <label for="source">Streaming Source:</label>
    <select name="source" class="custom-select">
      <% streamingSources.forEach(source => { %>
        <option value="<%= source.name %>"><%= source.name %></option>
      <% }); %>
    </select>
    <div class="mb-3 form-group">
      <button type="button" class="btn btn-primary" onclick="window.location.href='/add/addStreamingSource'">Add New Streaming Source</button>
    </div> 
    <label for="discovery">Discovery Source:</label>
    <input type="text" name="discovery" class="form-control" value="<%= track.discovery.join(', ') %>"><br>
    <label for="link">Link:</label>
    <input type="url" name="link" class="form-control" value="<%= track.link %>"><br>
  <div class="row mt-2">
    <div class="mb-3 form-group">
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <form action="/tracks/delete/<%= track._id %>" method="POST" onsubmit="return confirmDelete();">
      <button type="submit" class="btn btn-danger">Delete Track</button>
      <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
      </form>
    </div>
  </div>
</form>
</body>
</html>